<!--header section-->
<section class="header">
  <div class="header-bg-img"></div>
  <div class="header-text-container">
    <h1 class="header-text">ADVENTURE</h1>
    <h4>Create your Outdoor Adventure, Discover with Us.</h4>
  </div>

</section>
<!--end header section-->

<!--tours section-->
<section class="tours">
  <div class="tours-title-container">
    <h3 class="tours-title">The Wonders Of Nature</h3>
    <h6 class="tours-subtitle">We provide authentic content for travelers around the world</h6>
  </div>
  <carousel [arrows]="false" [loop]="true" [autoplay]="true" [autoplayInterval]="3000" [height]="320" >
    <div class="carousel-cell" *ngFor="let n of numSeq(8)">
      <div class="carousel-image">
        <img src="https://picsum.photos/200" alt="Fetching">
      </div>
      <div class="tours-slider-content ">
        <div class="slider-content-title">
          <div class="bd-highlight">
            <i-feather class="tours-pin-icon" name="map-pin"></i-feather>
          </div>
          <div class="bd-highlight tours-title">Camel Hill5</div>
        </div>
        <div class="slider-content-subtitle">
          <h6 class="tours-subtitle pb-2 pt-2 text-center">We provide authentic content for travelers around the world</h6>
        </div>
      </div>
    </div>
  </carousel>
</section>
<!--end tours section-->

<!--why-us section-->
<section class="why-us">
  <div class="tours-title-container">
    <h3 class="tours-title mb-5">Reason For Choosing Us</h3>
    <div class="tours-img-container">
      <img class="tours-img" src="assets/handshake.png" alt="" height="50px" width="50px">
    </div>
    <div class="text-center mt-5">
      <h3 class="reason-title">The Wonders Of Nature</h3>
      <h6 class="reason-subtitle">We provide authentic content for travelers around the world</h6>
    </div>
  </div>
</section>
<div class="main-reason-div mt-4"><div class="secondary-reason-div"></div></div>
<!--end why-us section-->

<!--why-us section-->
<section class="why-us">
  <div class="tours-title-container">
    <h3 class="tours-title">Here's what makes a vacation perfect!</h3>
    <div class="travels-underline-div"></div>
    <h6 class="tours-subtitle">
      Whether you're planning a family vacation with your pet, a relaxing getaway, or an adventurous excursion, vacation rentals are ideal for trips of all types. You can find everything from charming mountain cabins and lakeside lodge to breathtaking waterfall front tents.
    </h6>
  </div>
</section>
<!--end why-us section-->

<!--gallery section-->
<section class="gallery">
  <div class="gallery-book">
    <button class="btn gallery-btn">
      Book Now
    </button>
  </div>
  <div class="gallery-view">
    <div class="row">
<!--      <div class="view-box column" *ngFor="let n of numSeq(8)">-->
      <div class="view-box column" *ngFor="let n of numSeq(4)">
        <div *ngFor="let n of dimSeq(8)">
          <img src="https://picsum.photos/{{width}}/{{height}}" alt="Fetching" style="width:100%">
        </div>
      </div>

    </div>
  </div>
</section>
<!--end gallery section-->

<!--about section-->
<section class="about">

</section>
<!--end about section-->

<!--footersection-->
<section class="footer">
  <div class="list-group list-group-horizontal">
    <div class="footer-list-item list-group-item row">
      <div class="col footer-link-title">Information</div>
      <div class="col footer-link-subtitle">Adventure</div>
      <div class="col footer-link-subtitle">Book Now</div>
      <div class="col footer-link-subtitle">About</div>
      <div class="col footer-link-subtitle">Blog</div>
    </div>
    <div class="footer-list-item list-group-item row">
      <div class="col footer-link-title">Quick Links</div>
      <div class="col footer-link-subtitle">Tours</div>
      <div class="col footer-link-subtitle">Supports</div>
      <div class="col footer-link-subtitle">Privacy</div>
      <div class="col footer-link-subtitle">Affiliates</div>
    </div>
    <div class="footer-list-item list-group-item row">
      <div class="col footer-link-title">Contacts</div>
      <div class="col footer-link-subtitle">Luthuli Street, Kenya</div>
      <div class="col footer-link-subtitle">+254365848</div>
      <div class="col footer-link-subtitle">travel@gmail.com</div>
    </div>
  </div>
</section>
<!--end footer section-->
