.header {
  position: relative;
  height: 450px;
  width: 100%;
}
.header-bg-img {
  /*background-image: url("https://images.unsplash.com/photo-1526723476341-307183286978?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGFkdmVudHVyZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");*/
  background-image: url("https://images.unsplash.com/photo-1578952258885-6ee0651294e6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  position: relative;
  /* Add the blur effect */
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.header-text-container {
  padding: 20px;
  margin: 0 auto;
  /*border: 1px solid black;*/
  font-family: var(--main-font);
  color: var(--main-font-color);
  position: absolute;
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-text {
  font-size: 55px;
  font-weight: bolder;
}
.tours{
  font-family: var(--main-font);
  color: var(--main-font-color);
}
.tours-title-container{
  padding: 25px;
}
.tours-subtitle{
  font-size: small;
}
.tours-slider {
  overflow-y: hidden;
  margin: 0 20px 0 20px;
}
.tours-slider > div {
  background-color: var(--main-bg-color);
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.tours-slider::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.tours-slider {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.list-group-item{
  animation: mymove 25s;
  /*animation-delay: 1s;*/
  /*animation-duration: 60s;*/
  animation-iteration-count: infinite;
}
/*.list-group-item:hover{*/
/*  animation-play-state: paused;*/
/*}*/
.list-group-item:hover{
  background-color: #707531;
  cursor: pointer;
}
@keyframes mymove {
  from {right: 0px;}
  to {right: 900px;}
}
.tours-slider-image {
  position: relative;
}
.tours-slider-content {
  background-color: var(--secondary-color);
  opacity: 0.8;

}
