.header {
  position: relative;
  height: 450px;
  width: 100%;
}
.header-bg-img {
  background-image: url("https://images.unsplash.com/photo-1578952258885-6ee0651294e6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  position: relative;
  /* Add the blur effect */
  filter: blur(1px);
  -webkit-filter: blur(1px);
}
.header-text-container {
  padding: 20px;
  margin: 0 auto;
  font-family: var(--main-font);
  color: var(--main-font-color);
  position: absolute;
  text-align: center;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-text {
  font-size: 55px;
  font-weight: bolder;
}

/*tours section*/
.tours{
  font-family: var(--main-font);
  color: var(--main-font-color);
  padding: 25px;

}
.tours-title-container{
  /*padding: 25px;*/
}
.tours-subtitle{
  font-size: small;
}
.tours-slider-content {
  background-color: var(--secondary-color);
  padding:0 10px 0 10px;
  opacity: 0.8;
}
.slider-content-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tours-pin-icon{
  font-size: 15px;
  padding: 1px ;
  color: var(--main-font-color);
}
.tours-title {
  font-size: 25px;
  font-family: var(--main-font);
  color: var(--main-font-color);
}
  /*why-us section*/
.why-us {
  padding: 25px;
}
.reason-title {
  font-size: 25px;
  font-family: var(--main-font);
  padding: 8px 0 0 0;
  color: var(--secondary-font-color);
}
.reason-subtitle{
  font-size: small;
}
.secondary-reason-div{
  width: 55%;
  height: 2px;
  background-color: var(--secondary-font-color);
  border-radius: 20px;
  margin: 0 auto;
}
.main-reason-div{
  width: 95%;
  height: 2px;
  background-color: grey;
  border-radius: 20px;
  margin: 10px;
}

.travels-underline-div{
  width: 55%;
  height: 3px;
  background-color: var(--secondary-font-color);
  border-radius: 20px;
  margin-bottom: 50px;
}
.tours-img-container{
  background-color: var(--secondary-color);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  text-align: center;
  margin: 0 auto;
}
.tours-img{
  margin: 25px;
}

/*Gallery section*/
.gallery {

}
.gallery-book {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-btn {
  width: 150px;
  border-radius: 20px;
  background-color: var(--secondary-color);
  color: var(--main-font-color);
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  max-height: 500px;
  overflow: hidden;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/*Footer section*/
.footer {
  background-image: url("https://images.unsplash.com/photo-1495781856580-b3c4e8d21bf9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZGFyayUyMG1vdW50YWlufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  overflow: hidden;
  /* Add the blur effect */
  /*filter: blur(2px);*/
  /*-webkit-filter: blur(2px);*/
  /*filter: grayscale(30%);*/
}
.footer-list-item {
  background-color: transparent;
  /*margin-top: ;*/
  margin-top: 60px;
  border: none;
  font-size: 10px;
  color: var(--main-font-color);
  font-family: var(--main-font);
}
.footer-link-title {
  font-size: 16px;
  font-weight: bolder;
  padding-bottom: 6px;
}
.footer-link-subtitle {
  padding-top: 3px;
  padding-bottom: 3px;
}
