<!--navbar-->
<app-nav-bar></app-nav-bar>
<!--End navbar-->

<!--header section-->
<section class="header">
  <div class="header-bg-img"></div>
  <div class="header-text-container">
    <h1 class="header-text">ADVENTURE</h1>
    <h4>Create your Outdoor Adventure, Dicover with Us.</h4>
  </div>

</section>
<!--end header section-->

<!--tours section-->
<section class="tours">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus commodi, cum enim esse et fugit, illum ipsam
  maiores maxime natus nostrum nulla praesentium quaerat reiciendis similique sit, veritatis vitae?
</section>
<!--end tours section-->

<!--why-us section-->
<section class="why-us">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus commodi, cum enim esse et fugit, illum ipsam
  maiores maxime natus nostrum nulla praesentium quaerat reiciendis similique sit, veritatis vitae?
</section>
<!--end why-us section-->

<!--gallery section-->
<section class="gallery">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus commodi, cum enim esse et fugit, illum ipsam
  maiores maxime natus nostrum nulla praesentium quaerat reiciendis similique sit, veritatis vitae?
</section>
<!--end gallery section-->

<!--about section-->
<section class="about">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus commodi, cum enim esse et fugit, illum ipsam
  maiores maxime natus nostrum nulla praesentium quaerat reiciendis similique sit, veritatis vitae?
</section>
<!--end about section-->

<!--footersection-->
<section class="footer">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus commodi, cum enim esse et fugit, illum ipsam
  maiores maxime natus nostrum nulla praesentium quaerat reiciendis similique sit, veritatis vitae?l
</section>
<!--end footer section-->
