.header {
  position: relative;
  height: 450px;
  width: 100%;
}
.header-bg-img {
  /*background-image: url("https://images.unsplash.com/photo-1526723476341-307183286978?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGFkdmVudHVyZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");*/
  background-image: url("https://images.unsplash.com/photo-1578952258885-6ee0651294e6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  position: relative;
  /* Add the blur effect */
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.header-text-container {
  padding: 20px;
  margin: 0 auto;
  /*border: 1px solid black;*/
  font-family: var(--main-font);
  color: var(--main-font-color);
  position: absolute;
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-text {
  font-size: 55px;
  font-weight: bolder;
}
