<!--header section-->
<section class="header">
  <div class="header-bg-img"></div>
  <div class="header-text-container">
    <h1 class="header-text">ADVENTURE</h1>
    <h4>Create your Outdoor Adventure, Discover with Us.</h4>
  </div>

</section>
<!--end header section-->

<!--tours section-->
<section class="tours">
  <div class="tours-title-container">
    <h3 class="tours-title">The Wonders Of Nature</h3>
    <h6 class="tours-subtitle">We provide authentic content for travelers around the world</h6>
  </div>
  <div class="tours-slider list-group list-group-horizontal">
    <div class="list-group-item">
      <div class="tours-slider-image">
        <img src="https://picsum.photos/200" alt="Fetching">
        <div class="tours-slider-content ">
          <div class="d-flex flex-row bd-highlight ps-2">
            <div class="bd-highlight">
              <i-feather class="tours-pin-icon" name="map-pin"></i-feather>
            </div>
            <div class="bd-highlight tours-title">Camel Hill1</div>
          </div>
          <h6 class="tours-subtitle pb-2">We provide authentic content for travelers around the world</h6>
        </div>
      </div>
    </div>
    <div class="list-group-item">
      <div class="tours-slider-image">
        <img src="https://picsum.photos/200" alt="Fetching">
        <div class="tours-slider-content ">
          <div class="d-flex flex-row bd-highlight ps-2">
            <div class="bd-highlight">
              <i-feather class="tours-pin-icon" name="map-pin"></i-feather>
            </div>
            <div class="bd-highlight tours-title">Camel Hill2</div>
          </div>
          <h6 class="tours-subtitle pb-2">We provide authentic content for travelers around the world</h6>
        </div>
      </div>
    </div>
    <div class="list-group-item">
      <div class="tours-slider-image">
        <img src="https://picsum.photos/200" alt="Fetching">
        <div class="tours-slider-content ">
          <div class="d-flex flex-row bd-highlight ps-2">
            <div class="bd-highlight">
              <i-feather class="tours-pin-icon" name="map-pin"></i-feather>
            </div>
            <div class="bd-highlight tours-title">Camel Hill3</div>
          </div>
          <h6 class="tours-subtitle pb-2">We provide authentic content for travelers around the world</h6>
        </div>
      </div>
    </div>
    <div class="list-group-item">
      <div class="tours-slider-image">
        <img src="https://picsum.photos/200" alt="Fetching">
        <div class="tours-slider-content ">
          <div class="d-flex flex-row bd-highlight ps-2">
            <div class="bd-highlight">
              <i-feather class="tours-pin-icon" name="map-pin"></i-feather>
            </div>
            <div class="bd-highlight tours-title">Camel Hill4</div>
          </div>
          <h6 class="tours-subtitle pb-2">We provide authentic content for travelers around the world</h6>
        </div>
      </div>
    </div>
    <div class="list-group-item">
      <div class="tours-slider-image">
        <img src="https://picsum.photos/200" alt="Fetching">
        <div class="tours-slider-content ">
          <div class="d-flex flex-row bd-highlight ps-2">
            <div class="bd-highlight">
              <i-feather class="tours-pin-icon" name="map-pin"></i-feather>
            </div>
            <div class="bd-highlight tours-title">Camel Hill5</div>
          </div>
          <h6 class="tours-subtitle pb-2">We provide authentic content for travelers around the world</h6>
        </div>
      </div>
    </div>
  </div>
</section>
<!--end tours section-->

<!--why-us section-->
<section class="why-us">
  <div class="tours-title-container">
    <h3 class="tours-title">Reason For Choosing Us</h3>
    <div class="tours-img-container">
      <img class="tours-img" src="assets/handshake.png" alt="" height="50px" width="50px">
    </div>
    <div class="text-center">
      <h3 class="reason-title">The Wonders Of Nature</h3>
      <h6 class="reason-subtitle">We provide authentic content for travelers around the world</h6>
    </div>
    <div class="main-reason-div mt-4"><div class="secondary-reason-div"></div></div>

  </div>
</section>
<!--end why-us section-->

<!--why-us section-->
<section class="why-us">
  <div class="tours-title-container">
    <h3 class="tours-title">Here's what makes a vacation perfect!</h3>
    <div class="travels-underline-div"></div>
    <h6 class="tours-subtitle">
      Whether you're planning a family vacation with your pet, a relaxing getaway, or an adventurous excursion, vacation rentals are ideal for trips of all types. You can find everything from charming mountain cabins and lakeside lodge to breathtaking waterfall front tents.
    </h6>
  </div>
</section>
<!--end why-us section-->

<!--gallery section-->
<section class="gallery">

</section>
<!--end gallery section-->

<!--about section-->
<section class="about">

</section>
<!--end about section-->

<!--footersection-->
<section class="footer">

</section>
<!--end footer section-->
