/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
  --main-bg-color: #121C20;
  --main-font: 'Open Sans', sans-serif;
  --main-font-color: #FFFFFF;
  --secondary-font-color: #BFBD31;
  --secondary-color: #707531;
}
h1,h2,h3,h4,h5,h6{
  color: var(--main-font-color);
  font-family: var(--main-font);
}
body{
  margin: 0;
  padding: 0;
  height: 100%;
}
html, body{
  background-color: var(--main-bg-color) !important;
}
